WebPage/Connected Services/ServiceReference1/AplicacionWebServicePOO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AplicacionWebServicePOO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AplicacionWebServicePOO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autoriza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="Jornada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pregunta1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pregunta2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelContac" type="xs:long" />
      <xs:element minOccurs="0" name="Temperatura" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
</xs:schema>